@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bannerIcon{
        @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
    }
    .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
         }
.bgOpacity {
@apply bg-black bg-opacity-40;
                  }
    .contactInput{
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
    }
.contactTextArea{
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
}
}

.active {
    color: white;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

/* link.link-btn  */
.link-btn {
    font-size: 14px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 500ms;
    transition-property: color;
  }
  
.link-btn:focus,
.link-btn:hover {
    color: #fff;
  }
  
.link-btn:focus:after,
.link-btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
.link-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }



:root {
    --shadowShift: 6px;
    --shadowBlur: 15px;
}

.wave {
  position: relative;
  margin-left: 110px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave__btn {
  z-index: 100;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  border: none;
  background-color: rgba(241, 243, 246, 0);
  transition: transform 0.2s ease-out;

  box-shadow: var(--shadowShift) 0 var(--shadowBlur) rgba(55 84 170 / 0.2),
    calc(var(--shadowShift) * -1) 0 var(--shadowBlur) rgba(255, 255, 255, 0);

  /*     box-shadow: inset var(--shadowShift) 0 var(--shadowBlur) rgba(55 84 170 / 0.2),
    var(--shadowShift) 0 var(--shadowBlur) rgba(55 84 170 / 0.2),
    inset calc(var(--shadowShift) * -1) 0 var(--shadowBlur)
      rgba(255 255 255 / 1),
    calc(var(--shadowShift) * -1) 0 var(--shadowBlur) rgba(255 255 255 / 1); */
}

.wave__btn:hover {
  cursor: pointer;
}

.wave__btn::before {
  content: "CLICK";
  color: #31373f;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: rotate(-45deg);
}

.wave__btn:focus {
  outline: none;
}

.wave__btn:focus-visible {
  border-color: #89aedf;
}

.wave__btn:active {
  opacity: 0.7;
  transform: rotate(45deg) scale(1);
}

.wave__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wave__circle {
  position: absolute;
  background-color: transparent;
  border: 10px solid var(--circleColor);
  border-radius: 50%;
  box-shadow: inset var(--shadowShift) var(--shadowShift) var(--shadowBlur)
      rgba(55 84 170 / 0.2),
    var(--shadowShift) var(--shadowShift) var(--shadowBlur)
      rgba(55 84 170 / 0.2),
    inset calc(var(--shadowShift) * -1) calc(var(--shadowShift) * -1)
      var(--shadowBlur) #C0C0C0,
    calc(var(--shadowShift) * -1) calc(var(--shadowShift) * -1)
      var(--shadowBlur) #C0C0C0;
  filter: blur(3px);

  animation-name: ripple;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
  animation-iteration-count: infinite;
}

.wave__container .wave__circle:nth-child(2) {
  animation-delay: -1s;
}

.wave__container .wave__circle:nth-child(3) {
  animation-delay: -2s;
}

@keyframes ripple {
  0% {
    top: 250px;
    left: 250px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
